@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

.leaflet-container {
    height: 100vh;
}
.loading-spinner {
    display: flex;
    justify-self: center;
    align-self: center;
    border: 8px solid #f3f3f3; /* Light gray border */
    border-top: 8px solid #3498db; /* Blue border on top */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animation named 'spin', 1 second duration, linear timing, infinite loop */
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@tailwind base;
@tailwind components;
@tailwind utilities;